* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.navBar {
  background-color: #ffffff;
  height: 70px;
  border-bottom: 1px solid rgb(181, 181, 181);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar {
  padding: 12px;
  border: 1px solid lightgray;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 15vw;
}
.SearchInp::placeholder {
  color: rgb(141, 141, 141);
}
.SearchInp {
  font-size: 15px;
  color: rgb(144, 144, 144);
  border: none;
  outline: none;
}
.searchIcon {
  cursor: pointer;
  color: rgb(171, 171, 171);
}
.bars {
  font-size: 26;
  padding-right: 60px;
}
.bar {
  cursor: pointer;
}
.firstSection {
  background: url(/images/pic3.jpg);
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.titleFirstSec {
  width: 440px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 170px;
  color: rgb(110, 110, 110);
}
.DescFirstSec {
  text-align: center;
  color: rgb(161, 161, 161);
  font-size: 15px;
  width: 380px;
  position: absolute;
  top: 250px;
  right: 35px;
}
.secondSection {
  margin-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.descSecondSec {
  text-align: center;
  margin: 60px;
  width: 80%;
}
.descSecondSec {
  color: rgb(140, 140, 140);
  font-size: 15px;
  line-height: 30px;
}
.containerSecondSec {
  display: flex;
}
.subContainer1 {
  width: 30vw;
  padding: 50px;
  text-align: center;
}
.subContainer2 {
  width: 30vw;
  background-color: rgb(236, 236, 236);
  padding: 50px;
  text-align: center;
}
.titleSub1 {
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(129, 129, 129);
}
.descSub1 {
  font-size: 15px;
  color: rgb(140, 140, 140);
}
.thirdSection {
  height: 90vh;
  background-color: whitesmoke;
}
.wrapper {
  padding: 80px;
  display: flex;
  justify-content: center;
  gap: 80px;
  position: relative;
}

.box1 {
  background-color: rgb(255, 255, 255);
  height: 40vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  padding: 30px;
  gap: 20px;
}
.box2 {
  background-color: rgb(255, 255, 255);
  height: 49vh;
  width: 49vh;
  border-radius: 20px;
}
.box1Title {
  font-size: 16px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  color: rgb(111, 143, 190);
}
.box1desc {
  font-size: 15px;
  font-weight: 200;
  font-family: "Kanit", sans-serif;
}
.box2Img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.circles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
  gap: 10px;
}
.circle1 {
  height: 15px;
  width: 15px;
  background-color: rgb(51, 132, 167);
  border-radius: 50%;
}
.circle2 {
  height: 15px;
  width: 15px;
  background-color: rgb(193, 233, 250);
  border-radius: 50%;
}
.thirdsecBtn {
  text-align: center;
  margin-top: 30px;
}
.thirdSectionButton {
  padding: 6px 15px;
  border: none;
  font-family: "Kanit", sans-serif;
  background-color: rgb(111, 143, 190);
  color: #ffffff;
  cursor: pointer;
}
.arrowLeft {
  font-size: 40px;
  position: absolute;
  top: 35vh;
  right: 77vw;
  color: rgb(111, 143, 190);
  cursor: pointer;
}
.arrowRight {
  font-size: 40px;
  position: absolute;
  top: 35vh;
  right: 20vw;
  color: rgb(111, 143, 190);
  cursor: pointer;
}
.FourthSection {
  background: url("/images/pic5.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.sideBox {
  margin-left: 60px;
  width: 35%;
  height: 86%;
  background: url("/images/blackController.jpg");
  background-size: cover;
  background-position: top;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.sideBoxTitle {
  margin: 15px;
  width: 170px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Kanit", sans-serif;
  font-size: 26px;
}
.forthSecInfo {
  position: absolute;
  right: 50px;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 8px;
}
.FourthInfo {
  font-size: 16px;
  letter-spacing: 3px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  color: #e2e2e2;
  cursor: pointer;
}
